ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav>div.container{
    width: 100%;
    background-color: #333;
    padding: 0 10% 0 10%;
}
.busca{
    padding: 4% 0 0 0;
}

#imgtable
{
  width: 40%;
  margin-bottom: 2%;
}

#showContent
{
  background-color: #333;
  color: white;
  width: 70%;
  border-radius: 5em;
  font-size: 18px;
}
.derecha{
  float: right;
}
.tablacontenido, th{
  padding-top: 2.5%!important;
  text-align: center!important;
}
.tablaimg{
  text-align: center!important;
}
.imagen{
  width: 40px;
}
.botonhidden{
  background-color: hidden;
}